{
  "extends": "standard",
  "rules": {
    "yoda": 0,
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "semi-spacing": [2, { "before": false, "after": true }],
    "space-before-function-paren": [2, "never"],
    "one-var": 0,
    "key-spacing": 0
  },
  "globals": {
    angular: false,
    FB: false,
    $: false
  },
  "env": {
    "browser": true,
    "node": true
  }
}