<div *ngIf="!agenda">
  Analytics is only available after agenda is published.
</div>
<div *ngIf="agenda">
  <div class="agenda-title">
    <h1>Analytics for {{agenda.name}}</h1>
    <button class="secondary float" routerLink="/agenda/{{agendaId}}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to agenda planner
    </button>
  </div>
  <line-chart class="chart" 
              [dataY]="analyticsDataCombinedY" 
              [dataX]="analyticsDataCombinedX"
              [dataType]="'event'">
  </line-chart>
  <board *ngIf="agenda" 
         [agenda]="agenda" 
         [isPublic]="true" 
         [isAnalytics]="true" 
         [analyticsData]="analyticsData">
  </board>
</div>
