@import '../../../public/css/variables';

.agenda-title {
	color: $color-primary;
	font-size: $size-large-text;
	margin: 20px;
}
button {
	margin: 10px;
    border: 2px solid $color-primary;	
}
.schedule {
	margin-left: 20px;
	width: 100%;
}

.chart {
    top: $main-content-top-offset;
    height: $analytics-extra-offset;
    width: 97%;
    margin: 0 20px;
    position: fixed;
    display: flex;
}