i.submitting-spinner {
    font-size: 18px;
}

.tag-button,
[md-button].tag-button {
    margin-top: 5px;
}

.button-symbol {
    margin: 0;
    padding: 3px;
    display: inline-block;
}

button,
.button {
    box-sizing: border-box;
    position: relative;
    user-select: none;
    outline: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: currentColor;
    text-align: center;
    margin: 0;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 3px;
    border: 2px solid $color-primary;
    
    &:hover {
        border-color: shade( $color-primary, 20%); 
    }
    
    cursor: pointer;
    min-width: 0;
    
    &.primary {
        background-color: $color-primary;
        &:hover {
          background-color: shade( $color-primary, 20%);  
        }
        color: white;
    }
    
    &.warn {
        border: 2px solid $color-accent;
        background-color: $color-accent;
        &:hover {
            background-color: shade( $color-accent, 20%);  
            border-color: shade( $color-accent, 20%); 
        }
        color: white;
    }
    
    &.secondary {
        background-color: transparent;
        color: $color-primary;
        &:hover {
            background-color: rgba(0,0,0,0.1); 
        }
        &[disabled] {
            cursor: not-allowed;
            border: 2px solid gray;
            color: gray;
            &:hover {
                background-color: transparent;  
                border: 2px solid gray;
            }
        }
    }
    
    &[disabled] {
        cursor: not-allowed;
        opacity: .6;
    }
    
    .fa {
        color: inherit;
    }
    
    md-icon {
        vertical-align: middle;
        margin-top: -1px;
    }
}

md-icon.delete {
    border: 1px solid $color-accent;
    color: $color-accent;
    font-size: 23px;
    cursor: pointer;
    &:hover,
    &:focus {
        background: $color-accent;
        color: #fff;
        outline: 0;
    }
}
