@import 'variables';
html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.15;
}

h2 {
    font-size: 24px;
    margin: 15px 0;
}

body {
    background: #fff;
    color: #4A4A4A;
    font: 100% $body-font-family;
    margin: 0;
}

a,
button {
    transition: all .2s;
}

i.submitting-spinner {
    font-size: 18px;
}

.tag-button,
[md-button].tag-button {
    margin-top: 5px;
}

// Mimic md-input's label
.field-label {
    display: block;
    font-size: 12px;
    margin: -12px 0 3px 1px;
    color: $color-secondary;
    text-align: left;
    line-height: 1;
}

.field-with-label {
    padding: 16px 0;
}

//for mdMenu
.md-overlay-pane {
    position: fixed;
    margin-top: 30px;
    .md-menu {
        min-width: 94px;
        @media (max-width: 960px) {
            margin-top: -200px;
        }
    }
    button {
        background-color: white;
    }
}

// Overrides - using the body tag to override the specificity of some of these 
// themed widget's themes 
body {
    // Reset some of tag-input's styles to match ours
    .ng2-tag-input.default {
        border-bottom: 1px solid #444;
        padding: 0;
    }
    .public .ng2-tag-input.default {
        border-bottom: 0;
    }
    .ng2-tag-input__text-input {
        padding: 0;
        margin-bottom: 2px;
        background: none;
    }
    .ng2-tag-input.default .ng2-tags-container {
        align-items: center;
        margin-bottom: -2px;
    }
    .ng2-tag-input.default .ng2-tags-container .ng2-tag {
        background: transparent;
        border: 2px solid $color-primary;
        color: $color-primary;
        height: auto;
        line-height: 1;
        font-size: 14px;
        align-items: center;
        padding: 6px 12px;
        margin: 0 4px 2px 0;
        &:hover:not(.tag--readonly),
        &:focus:not(.tag--readonly) {
            background: $color-primary;
            color: #fff;
        }
        delete-icon {
            height: 16px;
            margin-right: -6px;
        }
        delete-icon path {
            fill: $color-primary;
            transition: fill .15s;
        }
        &:hover delete-icon path {
            fill: #fff;
        }
    }
    .md-input-placeholder.md-empty {
        color: $color-primary;
    }
    .md-input-placeholder.md-float:not(.md-empty),
    .md-input-placeholder.md-float.md-focused {
        color: $color-secondary;
    }
    // Override .md-hint to fix its positioning on forms 
    .md-hint {
        bottom: auto;
        top: calc(100% - 10px);
        line-height: 1;
    }
    // Vex's default theme fixes the width of the modal. This doesn't work for us 
    // because we need the modal to be more flexible. We use flexbox and 
    // inline-block instead for centering    
    .vex.vex-theme-default {
        display: flex;
        align-items: flex-start;
        padding: 10vh 15px;
        .vex-content {
            padding: 25px;
            // Reset the font to our global font
            font-family: inherit;
            // Remove the default width 
            width: auto;
            max-width: 960px;
            display: inline-block;
        }
    }
    // We need to use dropdown menus inside modals, so their z-index
    // need to be higher than the modal overlay's
    .ng2-dropdown-menu-container {
        z-index: $dropdown-menu-z-index;
        // limit height of the dropdown so that it do not flicker when near the bottom of the screen
        max-height: 100px;
        .ng2-menu-item {
            height: 40px;
            line-height: 40px;
        }
    }
}

.modal-container {
    &.narrow {
        width: 460px;
        @media (max-width: 960px) {
            width: 100%;
        }
    }
    .modal-header {
        h1 {
            margin-top: 0;
            font-size: 24px;
        }
        .centered-header {
            text-align: center;
        }
    }
    .modal-footer {
        margin-top: 20px;
    }
    .footer-buttons .secondary {
        float: right;
    }
}

.form-error-hint {
    color: $color-warn;
    padding: 2px;
}

.fixed {
    position: fixed;
    width: 100%;
}

.fa-spinner,
.fa-circle-o-notch {
    color: $color-primary;
}

button[md-button],
.button[md-button],
.button {
    border: 2px solid $color-primary;
    cursor: pointer;
    min-width: 0;
    &.primary {
        background-color: $color-primary;
        color: white;
    }
    &.warn {
        border: 2px solid $color-accent;
        background-color: $color-accent;
        color: white;
    }
    &.secondary {
        background-color: transparent;
        color: $color-primary;
        &[disabled] {
            cursor: not-allowed;
            border: 2px solid gray;
            color: gray;
        }
    }
    md-icon {
        vertical-align: middle;
        margin-top: -1px;
    }
}

md-icon.delete {
    border: 1px solid $color-accent;
    color: $color-accent;
    font-size: 23px;
    cursor: pointer;
    &:hover,
    &:focus {
        background: $color-accent;
        color: #fff;
        outline: 0;
    }
}

.vex-content {
    .full-width .ndv-comp,
    .full-width input,
    .full-width textarea {
        width: 100%;
    }
    .small-input input {
        width: 50px;
    }
    input,
    textarea {
        font-size: inherit;
        line-height: inherit;
    }
}

.button-symbol {
    margin: 0;
    padding: 3px;
    display: inline-block;
}

.session-container-list,
.session-list,
.session-wrapper {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.session-container {
    padding-left: 0;
}

.md-visually-hidden {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: $color-secondary !important;
}

// drag-and-drop
.session-wrapper.gu-transit {
    z-index: $session-z-index;
    position: relative;
    pointer-events: none;
    opacity: 0.7;
}

.not-dragging .gu-transit {
    pointer-events: initial;
}

.gu-mirror {
    opacity: 0.3;
    .session-time {
        display: none;
    }
}

.not-dragging .empty-container {
    //pointer-events: none;
}

// slider toggle
.md-slide-toggle-bar {
    background: #d3d3d3;
}

.md-slide-toggle-thumb {
    background: white;
}

.md-checked {
    .md-slide-toggle-bar {
        background: lighten($color-primary, 30%);
    }
    .md-slide-toggle-thumb {
        background: $color-primary;
    }
}

.hide-no-interest .session-tile.not-interested {
    display: none;
}

.loading-overlay {
    z-index: $loading-overlay-z-index;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

// tooltips
// from bootstrap 3
.agenda-header {
    z-index: $tooltip-z-index;
}

.tooltip {
    position: absolute;
    z-index: $tooltip-z-index;
    display: block;
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    // font-size: 12px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}

.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: $color-primary;
    text-align: center;
    background-color: white;
    border: 2px solid $color-primary;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: $color-primary;
}

.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: $color-primary;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: $color-primary;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: $color-primary;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: $color-primary;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: $color-primary;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: $color-primary;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: $color-primary;
}
