@import 'variables';

body {
    background: #fff;
    color: #4A4A4A;
    font: 100% Avenir, Helvetica, sans-serif;
    margin: 0px;
}

button{
    margin-top: 30px;
    border: 2px solid $color-primary;
    &.primary{
        background-color: $color-primary;
        color: white;
    }
    &.secondary{
        background-color: white;
        color: $color-primary;
    }
}

.session-container-list, .session-list, .session-wrapper {
    padding-left: 0px;
    list-style: none;
    text-align: center;
}

.session-wrapper.gu-transit .session-tile {
    height: $height-per-15-min !important;
    .session-content {
        display: none;
    }
}

.session-container {
    padding-left: 0px;
}

.md-visually-hidden {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; 
    -webkit-text-fill-color: $color-secondary !important;
}

// drag-and-drop
.gu-transit {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}

.gu-mirror {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    .session-time {
        display: none;
    }
}

.not-dragging .empty-container {
    pointer-events: none;
}