@import 'variables';
body {
    background: #fff;
    color: #4A4A4A;
    font: 100% Avenir, Helvetica, sans-serif;
    margin: 0px;
}

.session-list {
    padding-left: 0px;
}

.session-list-item {
    list-style: none;
    text-align: center;
}
