$color-primary: #41B6AB;
$color-secondary: #B1C9C3;
$color-accent: #EB9587;
$color-warn: #BE132D;

$size-large-text: 24px;
$size-normal-text: 14px;

$height-per-15-min: 20px;

$timeline-z-index: 1;
$session-z-index: 5;
$dropdown-menu-z-index: 10000;
$loading-overlay-z-index: 1000000;

$top-bar-height: 56px;
$middle-bar-height: 60px;
$bottom-bar-height: 56px;
$main-content-top-offset: $top-bar-height + $middle-bar-height;
$public-extra-offset: 110px;
$analytics-extra-offset: 120px;

$body-font-family: 'Roboto', sans-serif;

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}