import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True


# Base URL - for creating URLs. DO NOT INCLUDE TRAILING SLASH
BASE_URL = 'http://localhost:8000'

# UID suffix for iCalendar events - use the website's domain name with
# an '@' in front
ICAL_UID_SUFFIX = '@localhost'


# Database
# https://docs.djangoproject.com/en/1.10/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

# Email settings
# See: - https://docs.djangoproject.com/en/1.10/topics/email/#email-backends
#      - https://github.com/anymail/django-anymail

# For local development using the console backend is useful for debugging
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

DEFAULT_FROM_EMAIL = 'agenda@jublia.com'
