@import '../../../public/css/variables';

.agenda-header {
    top: $top-bar-height;
    left: 300px;
    right: 0;
    position: fixed;
    
    height: 60px;
    display: flex;
    align-items: center;
}

.agenda-title {
    flex: 1 auto;
    margin: 0;
    text-align: left;
    font-weight: normal;
    color: $color-primary;
    font-size: $size-large-text;
    margin-right: 50px;
}

.wide-menu {
    @media (max-width: 1150px) {
        display: none;
    }
}

.dropdown {
    @media (min-width: 1150px) {
        display: none;
    }
    position: fixed;
    top: $top-bar-height + 10px;
    right: 0px;
    button {
        position: fixed;
        right: 0px;
        padding: 5px;
        padding-top: 0px;
    }
}

.dropdown-menu {
    -webkit-box-shadow: -12px 10px 13px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: -12px 10px 13px -5px rgba(0,0,0,0.37);
    box-shadow: -12px 10px 13px -5px rgba(0,0,0,0.37);
    border: solid 2px $color-primary;
    position: fixed;
    top: 100px;
    right: 0px;
    list-style: none;
    background: white;
    text-align: left;
    padding: 10px;
    li {
        padding: 10px 10px;
        &:hover, &:active, &:focus {
            background: $color-primary;
            a {
                color: white;
            }
        }
    }
}
.agenda-menu {
    button {
        height: 40px;
        margin-right: 10px;
    }
}

.modal-container {
    width: 500px;
}

.publish-agenda {
    p {
        margin: 0 0 20px;
    }
    
    .share-link {
        border: 1px solid $color-primary;
        display: flex;
        color: $color-primary;
        border-radius: 3px;
        overflow: hidden;

        .share-link-url {
            flex: 1;
            padding: 6px 12px;

            -webkit-user-select: all;
            -moz-user-select: all;
            user-select: all;
        }

        button {
            padding: 0 6px 0 9px;
            border: 0;
            cursor: pointer;
            background: $color-primary;
            color: #fff;

            &:hover {
                background: tint($color-primary, 30);
            }
        }
    }
    
    .clipboard-status {
        color: $color-primary;
        font-size: $size-normal-text;
        text-align: center;
    }
    
    .bottom-buttons {
        display: flex;
        justify-content: center;
        
        button {
            margin: 0 5px;
        }
    }
}

.edit-agenda {
    h2 {
        font-size: 14px;
        margin-bottom: 3px;
    }
    
    p {
        margin: 0;
    }
    
    .two-col {
        display: flex;
        
        > div {
            flex: 1 50%;
        }
    }
}

.dirty-sessions {
    p {
        font-size: $size-normal-text;
        line-height: 1.3;
    }
}