<div *ngIf="!agenda">
  Loading...
</div>
<div *ngIf="agenda">
  <div class="clearfix">
    <span class="agenda-title">Agenda Builder for {{agenda.name}}</span>
    <button md-button class="secondary float" *ngIf="!agenda.published" (click)="publishAgenda()">Publish</button>
    <button md-button class="secondary float" *ngIf="agenda.published" (click)="unpublishAgenda()">Unpublish</button>
    <button md-button class="secondary float" (click)="showAgendaSettings()">
      <i class="fa fa-cog" aria-hidden="true"></i> Agenda Settings
    </button>
  </div>
  <board *ngIf="agenda" [agenda]="agenda" [isPublic]="false">
  </board>
</div>
<template #templateRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-container">
    <div class="page-header">
      <h1>Agenda Settings</h1>
    </div>
    <div class="jumbotron">
      <h2>Event Name: <ndv-edit [title]="'name'" [placeholder]="agenda.name" (onSave)="updateAgenda($event)" [permission]="true"></ndv-edit></h2>
    </div>
    <div class="clearfix">
      <button class="vex-dialog-button-secondary vex-dialog-button" (click)="dialogRef.close(true)">Close</button>
    </div>
  </div>
</template>