@import '../../../public/css/variables';

.agenda-header {
    top: $top-bar-height;
    left: 300px;
    right: 0;
    position: fixed;
    
    height: 60px;
    display: flex;
    align-items: center;
}

.agenda-title {
    flex: 1 auto;
    margin: 0;
    text-align: left;
    font-weight: normal;
    color: $color-primary;
    font-size: $size-large-text;
}

.agenda-menu {
    button {
        height: 40px;
        margin-right: 10px;
    }
}

.modal-container {
    width: 500px;
}

a {
    color: $color-primary;
}

.vex-2-button-group {
    margin: auto;
    width: 50%;
}