<div *ngIf="!agenda">
  <loading-indicator></loading-indicator>
</div>
<div *ngIf="agenda">
  <div class="agenda-header">
    <h1 class="agenda-title">Planning for <strong>{{agenda.name}}</strong></h1>
    <div class="agenda-menu">
      <div class="dropdown">
        <button md-button disableRipple class="primary" (click)="toggleMenu()"><md-icon>menu</md-icon></button>
        <ul *ngIf="isMenuOpen" class="dropdown-menu">
          <li (click)="isMenuOpen=false;toggleView()"><a> 
            <i *ngIf="!isListView" class="fa fa-calendar fa-fw" aria-hidden="true"></i>
            <i *ngIf="isListView" class="fa fa-list fa-fw" aria-hidden="true"></i>
            Switch Calendar/Table View
          </a></li>

          <li *ngIf="!agenda.published" (click)="isMenuOpen=false;openPublishModal()"><a> Publish </a></li>

          <li *ngIf="agenda.published" (click)="isMenuOpen=false;openPublishModal()"><a>
            <i class="fa fa-link fa-fw" aria-hidden="true"></i> Public Link 
          </a></li>

          <li *ngIf="agenda.published" routerLink="/analytics/agenda/{{agendaId}}"><a>
            <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Analytics
          </a></li>

          <li (click)="isMenuOpen=false;showAgendaSettings()"><a>
            <i class="fa fa-cog fa-fw" aria-hidden="true"></i> Agenda Settings
          </a></li>

          <li *ngIf="agenda.hasDirtySession" (click)="isMenuOpen=false;openDirtyModal()"><a>
            <i class="fa fa-bell fa-fw" aria-hidden="true"></i> Notify Attendees
          </a></li>
        </ul>
      </div>
      <div class="wide-menu">
        <button *ngIf="!isListView" md-button disableRipple class="secondary" tooltip="Switch Calendar/Table View"
                (click)="toggleView()">
          <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
        </button>
        <button *ngIf="isListView" md-button disableRipple class="secondary" tooltip="Switch Calendar/List View"
                (click)="toggleView()">
          <i class="fa fa-list fa-fw" aria-hidden="true"></i>
        </button>
        <button *ngIf="!agenda.published" md-button disableRipple class="primary" (click)="openPublishModal()">
          Publish
        </button>
        <button *ngIf="agenda.published" md-button disableRipple class="secondary" tooltip="Public Link"
                (click)="openPublishModal()">
          <i class="fa fa-link fa-fw" aria-hidden="true"></i>
        </button>
        <button md-button disableRipple class="secondary" tooltip="Analytics"
                *ngIf="agenda.published" routerLink="/analytics/agenda/{{agendaId}}">
          <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>
        </button>
        <button md-button disableRipple class="secondary" tooltip="Agenda Settings"
                (click)="showAgendaSettings()">
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
        </button>
        <button md-button disableRipple class="warn" 
                *ngIf="agenda.hasDirtySession" (click)="openDirtyModal()" tooltip="Notify Attendees">
          <i class="fa fa-bell fa-fw" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <board #board *ngIf="agenda" [agenda]="agenda" [isPublic]="false" [isAnalytics]="false">
  </board>
</div>

<template #templateRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-container edit-agenda">
    <div class="modal-header">
      <h1>Event Settings</h1>
    </div>
    <div class="jumbotron">
      <h2>Event Name</h2>
      <p class="full-width">
        <ndv-edit [title]="'name'" [placeholder]="agenda.name" (onSave)="updateAgenda($event)" 
                  [permission]="true"></ndv-edit>
      </p>
      
      <h2>Description</h2>
      <p class="full-width">
        <ndv-area [title]="'description'" [placeholder]="agenda.description" (onSave)="updateAgenda($event)" 
                  [permission]="true"></ndv-area>
      </p>
      
      <div class="two-col">
        <div>
          <h2>Duration</h2>
          <p>
            <ndv-edit [title]="'duration'" [placeholder]="agenda.duration" (onSave)="updateAgenda($event)" 
                      [permission]="true" [regex]="'^[1-9]$'" 
                      [error]="'Please enter a number between 1 to 9.'" class="small-input"></ndv-edit> days
          </p>
        </div>
        <div>
          <h2>Date</h2>
          <p>
            <ndv-date [title]="'start_at'" [placeholder]="agenda.start_at" (onSave)="updateAgenda($event)"
                      [permission]="true"></ndv-date>
          </p>
        </div>
      </div>
      
      <h2>Location</h2>
      <p class="full-width">
        <ndv-edit [title]="'location'" [placeholder]="agenda.location" (onSave)="updateAgenda($event)" 
                  [permission]="true"></ndv-edit>
      </p>
      
      <h2>Website</h2>
      <p class="full-width">
        <ndv-edit [title]="'website'" [placeholder]="agenda.website" (onSave)="updateAgenda($event)" 
                  [permission]="true"></ndv-edit>
      </p>

    </div>
    
    <div class="modal-footer footer-buttons">
      <button md-button class="secondary" (click)="dialogRef.close(true)">Close</button>
    </div>
  </div>
</template>

<template #publishRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
    <div class="modal-container publish-agenda">
      <p>After publishing the event, anyone with your event's public link will be 
        able to view and bookmark sessions on your event.</p>
      <p>You will get participants statistics such as popularity of the sessions in the 
        Analytics page (only available after publishing).</p>
      
      <div class="bottom-buttons" *ngIf="!agenda.published">
        <button md-button class="primary" (click)="setPublishedStatus(true)">Publish</button>
        <button md-button class="secondary" (click)="dialogRef.close(true)">Cancel</button>
      </div>
      
      <template [ngIf]="agenda.published">
        <div class="share-link">
          <span class="share-link-url">{{publicUrl}}</span>
          <button type="button" ngIIclipboard 
                  [cbContent]="publicUrl" 
                  (cbOnSuccess)="clipboardStatus = 'Link copied'" 
                  (cbOnError)="clipboardStatus = 'Press ' + platform.copyShortcut() + ' to copy'">
            <i class="fa fa-clipboard"></i> 
            <span class="sr-only">Copy link to clipboard</span>
          </button>
        </div>
        
        <p class="clipboard-status" *ngIf="clipboardStatus">{{ clipboardStatus }}</p>
        
        <div class="modal-footer bottom-buttons">
          <button md-button disableRipple class="primary" (click)="dialogRef.close(true)">Ok</button>
          <button md-button disableRipple class="secondary" (click)="setPublishedStatus(false)">Unpublish</button>
        </div>
      </template>
    </div>
</template>

<template #dirtyRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="dirty-sessions modal-container">
    <div class="modal-header">
      <h1>Notify Viewers of Session Updates</h1>
    </div>
    
    <p>You have made some changes to the sessions. The attendees who have 
      bookmarked the following events will get an email regarding the changes made. 
    </p>
    
    <dirty-session [agenda]="agenda"></dirty-session>
    
    <div class="footer-buttons footer-buttons">
      <button md-button disableRipple type="button" class="primary" 
              (click)="sendViewerUpdate(dialogRef)">Send Emails</button>
      <button class="secondary" md-button type="button" (click)="dialogRef.close(true)">Close</button>
    </div>
  </div>
</template>
