@import '../../../public/css/variables';

.agenda-title {
    color: $color-primary;
    font-size: $size-large-text;
    margin: 20px;
}
button {
    font-size: 14px;
}

.viewer-profile {
    font-size: 14px;
    border: 2px solid green;
    padding: 10px;
    color: green;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}