<!--
<div *ngIf="!agenda">
  Agenda is not public.
</div>
-->
<template #infoRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-container narrow">
    <div class="page-header centered-header">
      <h1>{{ agenda.name }}</h1>
    </div>
    
    <section class="agenda-info">
      <p *ngIf="agenda.website" class="agenda-subtitle">
        <a href="{{agenda.website | encodeURI}}" target="_blank">
          <i class="fa fa-link fa-fw" title="Event Website"></i> {{agenda.website}}
        </a>
      </p>
      <p *ngIf="agenda.location" class="agenda-subtitle">
        <a href="http://maps.google.com/?q={{agenda.location | encodeURIComponent}}" target="_blank">
          <i class="fa fa-map-o fa-fw" title="Location"></i> {{agenda.location}}
        </a>
      </p>
      
      <p class="agenda-desc">{{agenda.description}}</p>
    </section>
    <div *ngIf="agenda.location">
      <iframe frameborder="0" class="map" [src]="mapsEmbedUrl" allowfullscreen></iframe>
    </div>
    <div class="footer-buttons">
      <button class="secondary" md-button type="button" (click)="dialogRef.close(true)">Close</button>
    </div>
  </div>
</template>

<template #bookmarkRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-container">
   <section class="viewer">
      <div *ngIf="!token">
        <h2>Personalize this agenda</h2>
        <p>Bookmark sessions you want to attend, receive updates from the organizers and more! 
          Get started by entering email below.</p>
        <form (ngSubmit)="createToken()" class="viewer-register">
          <md-input required placeholder="Email" [(ngModel)]="email" name="email">
            <md-hint class="form-error-hint" align="start">{{bookmarkError}}</md-hint>
          </md-input>
          <button md-button type="submit" class="primary">Go!</button>
        </form>
      </div>
      <div class="clearfix" *ngIf="token">
        <h2>Personal schedule for {{email}}</h2>
        <div class="interested-toggle">
          <md-slide-toggle [color]="'black'" [(ngModel)]="interestToggleModel">
            Show only bookmarked sessions
          </md-slide-toggle>
        </div>
      </div>
    </section>
    <div class="footer-buttons">
      <button class="secondary" md-button type="button" (click)="dialogRef.close(true)">Close</button>
    </div>
  </div>
</template>

<div *ngIf="agenda">
  <div class="clearfix fixed agenda-menu">
    <h1 class="agenda-title"><strong>{{agenda.name}}</strong></h1>
    <div class="agenda-buttons">
      <button class="primary" md-button disableRipple (click)="showInfo()">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Info
      </button>
      <button class="primary" md-button disableRipple (click)="showBookmark()">
        <i class="fa fa-bookmark" aria-hidden="true"></i> Bookmark
      </button>
      <button class="primary" x-position="before" y-position="above" md-button disableRipple [md-menu-trigger-for]="filterMenu">
        <i class="fa fa-filter" aria-hidden="true"></i> Filter
      </button>
      <md-menu class="public" #filterMenu="mdMenu">
        <button md-menu-item>Filter 1</button>
        <button md-menu-item>Filter 2</button>
        <button md-menu-item>Filter 3</button>
      </md-menu>
    </div>      
  </div>
  <board *ngIf="agenda" [agenda]="agenda" [isPublic]="true" [token]="token" 
         [interestedSessionIds]="interestedSessionIds" [class.hide-no-interest]="interestToggleModel">
  </board>
</div>
