@import '../../../public/css/variables';

.toggled-off {
    opacity: 0.4;
}

.agenda-menu {
    top: 0;
    display: flex;
    height: $top-bar-height;
    overflow: auto;
    
    &.list-view {
        box-shadow: 0 2px 6px rgba(#000, .3);
    }
    
    h1 {
        color: $color-primary;
        margin: 10px 0 0 50px;

        @media (max-width: 960px) {
            margin-left: 0;
        }
    }
    
    .agenda-buttons{
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1000;
        
        // fix list icon height to be consistent with calendar icon
        .fa-list {
            vertical-align: -1px;
        }
    }
       
    @media (max-width: 960px) {
        display: block;
        text-align: center;
        width: 100%;
        
        .agenda-buttons {
            top: auto;
            right: auto;
            bottom: 0;
            width: 100%;
            height: $bottom-bar-height;
            display: flex;
            box-shadow: 0 0 8px rgba(#000, .4);
            
            button {
                flex: 1 auto;
                font-size: 18px;
                border-width: 0 1px 0 0;
                border-radius: 0;
                border-right: 1px solid $color-primary;
                background: none;
                color: $color-primary;

                &:last-child {
                    border: 0;
                }
            }
        }
    }
    
    @media (max-width: 500px) {
        .agenda-buttons button {
            .fa {
                font-size: 24px;
                margin-top: 6px;
            }
            
            span {
                font-size: 15px;
                margin-top: -12px;
                display: block;
            }
        }
    }
}

.bookmark-form {
    flex-direction: column;

    md-input {
        width:100%;
    }
}

.agenda-info {
    line-height: 1.4;
    
    h1 {
        color: $color-primary;
        font-size: $size-large-text;
        margin: 0 0 6px;
    }
    
    p {
        margin: 0 0 4px;
    }
    
    .modal-body {
        display: flex;
    }
    
    .agenda-body {
        flex: 1 0 360px;
        margin-right: 20px;
    }
    
    .agenda-map {
        flex: 1 1 100%;
        height: 400px;
        position: relative;
        
        .fa {
            position: absolute;
            left: calc(50% - 30px);
            top: calc(50% - 30px);
        }

        iframe {
            display: block;
            border: 0;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
        }
    }

    @media (max-width: 960px) {
        .modal-body {
            display: block;
            max-width: 500px;
        }
        
        .agenda-body {
            margin: 0;
        }
    }

    .agenda-subtitle {
        color: $color-primary;
        font-size: $size-normal-text;
        font-weight: bold;
    }

    .agenda-desc {
        font-size: $size-normal-text;
    }
    
    a {
        color: $color-primary;
        text-decoration: none;
        
        &:hover {
            color: tint($color-primary, 30%);
        }
    }
}

.viewer {
    max-width: 420px;
    
    h2 {
        font-size: 18px;
        margin: 0 0 6px;
        line-height: 1;
    }
    
    p {
        line-height: 1.4;
        font-size: $size-normal-text;
        margin: 0 0 10px;
    }
}

.tag-filters {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
    
    md-slide-toggle {
        margin-top: 0;
    }
}

.interested-toggle {
    text-align: right;
}
