<template #infoRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-container agenda-info">
    <div class="modal-header centered-header">
      <h1>{{ agenda.name }}</h1>
    </div>
    
    <div class="modal-body">
      <div class="agenda-body">
        <p *ngIf="agenda.website" class="agenda-subtitle">
          <a href="{{agenda.website | encodeURI}}" target="_blank">
            <i class="fa fa-link fa-fw" title="Event Website"></i> {{agenda.website}}
          </a>
        </p>
        <p *ngIf="agenda.location" class="agenda-subtitle">
          <a href="http://maps.google.com/?q={{agenda.location | encodeURIComponent}}" target="_blank">
            <i class="fa fa-map-o fa-fw" title="Location"></i> {{agenda.location}}
          </a>
        </p>
        
        <p class="agenda-desc">{{agenda.description}}</p>
      </div>
      
      <div class="agenda-map">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <iframe frameborder="0" *ngIf="agenda.location" [src]="mapsEmbedUrl" allowfullscreen></iframe>
      </div>
    </div>
    
    <div class="modal-footer">
      <button class="secondary" md-button type="button" (click)="dialogRef.close(true)">Close</button>
    </div>
  </div><!-- /.agenda-info -->
</template>

<template #bookmarkRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-container">
   <section class="viewer">
      <div *ngIf="!token">
        <div class="modal-header">
          <h1>Personalize this agenda</h1>
        </div>
        
        <p>Bookmark sessions you want to attend, receive updates from the organizers and more! 
          Get started by entering email below.</p>
        <p>Enter mobile number to receive SMS notifications before your bookmarked sessions start.</p>
        
        <form class="bookmark-form" (ngSubmit)="createToken(dialogRef)">
          <md-input required placeholder="Email" (focus)="bookmarkError=undefined" [(ngModel)]="email" name="email">
            <md-hint class="form-error-hint" align="start">{{bookmarkError}}</md-hint>
          </md-input>
          <md-input placeholder="Mobile number" (focus)="mobileError=undefined" [(ngModel)]="mobile" name="mobile">
            <md-hint class="form-error-hint" align="start">{{mobileError}}</md-hint>
          </md-input>
          <div class="footer-buttons modal-footer">
            <button [disabled]="bookmarkSubmitting" md-button disableRipple="true" type="submit" class="primary">
              <i *ngIf="bookmarkSubmitting" class="submitting-spinner fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
              Go!
            </button>
            <button class="secondary" md-button type="button" (click)="dialogRef.close(true)">Close</button>
          </div>
        </form>
      </div>
     
      <div class="clearfix" *ngIf="token">
        <h2>Personal schedule for {{email}}</h2>
        <div class="interested-toggle">
          <md-slide-toggle [color]="'black'" [(ngModel)]="interestToggleModel">
            Show only bookmarked sessions
          </md-slide-toggle>
        </div>
        <div class="footer-buttons">
          <button class="secondary" md-button type="button" (click)="dialogRef.close(true)">Close</button>
        </div>
      </div>
    </section>
  </div><!-- /.viewer -->
</template>

<template #toggleRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-container">
    <p>Choose the tags to display</p>
    <div class="tag-filters">
      <md-slide-toggle md-menu-item *ngFor="let tag of eventTags" [color]="'black'" 
        [(ngModel)]="tag.toggle" (change)="onTagFilterChange($event)">
          {{tag.name}}
      </md-slide-toggle>
    </div>
    <div class="modal-footer">
      <button md-button disableRipple class="primary" (click)="showAll()">Show All</button>
      <button md-button disableRipple class="warn" (click)="hideAll()">Hide All</button>
      <button md-button disableRipple class="secondary" type="button" (click)="dialogRef.close(true)">Done</button>
    </div>
  </div>
</template>

<div *ngIf="!agenda">
<loading-indicator></loading-indicator>
</div>

<div *ngIf="agenda">
  <div class="clearfix agenda-menu">
    <h1 class="agenda-title">{{agenda.name}}</h1>
    <div class="agenda-buttons">
      <button md-button disableRipple class="primary" (click)="toggleView()">
        <i class="fa fa-calendar fa-fw" [class.toggled-off]="isListView" aria-hidden="true"></i> / 
        <i class="fa fa-list fa-fw" [class.toggled-off]="!isListView" aria-hidden="true"></i>
      </button>
      <button class="primary" md-button disableRipple (click)="showInfo()">
        <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> 
        <span>Info</span>
      </button>
      <button class="primary" md-button disableRipple (click)="showBookmark()">
        <i class="fa fa-bookmark fa-fw" aria-hidden="true"></i> 
        <span>Bookmark</span>
      </button>
      <button class="primary" x-position="before" y-position="above" md-button disableRipple (click)="showFilters()">
        <i class="fa fa-filter fa-fw" aria-hidden="true"></i> 
        <span>Filter</span>
      </button>
    </div>      
  </div>
  <board *ngIf="agenda" [agenda]="agenda" [isPublic]="true" [token]="token" 
         [interestedSessionIds]="interestedSessionIds" 
         [class.hide-no-interest]="interestToggleModel"
         [isListView]="isListView"
  >
  </board>
</div>
