@import '../../../public/css/variables';
.new-venue.modal-container {
    width: 500px;
    
    md-input {
        width: 100%;
    }

    .footer-buttons {
        margin-top: 20px;
        
        .secondary {
            float: right;
        }
    }
}
