@import '../../../public/css/variables';
.new-venue.modal-container {
    width: 500px;
    padding: 20px;
    
    h1 {
        margin: 0;
    }

    md-input {
        width: 100%;
    }

    md-hint {
        bottom: -1em;
    }
    
    .footer-buttons {
        margin-top: 20px;
        
        .secondary {
            float: right;
        }
    }
}
