@import '../../../public/css/variables';

.open-modal {
    padding-left: 8px;
    padding-right: 8px;
}

.new-venue.modal-container {
    width: 500px;
    
    md-input {
        width: 100%;
    }

    .footer-buttons {
        margin-top: 20px;
        
        .secondary {
            float: right;
        }
    }
}
