<div class="rel-col" [@colMarginTrigger]="colState">
  <template [ngIf]="!sessions.length">
    <div *ngIf="!agenda.sessions.length" class="instructions">
      Get started by adding your first session using the '+' button above</div>
    <div *ngIf="agenda.sessions.length" class="instructions">
      Drag sessions here to temporarily remove them from the agenda without deleting them</div>
  </template>
  
  <ul class="session-list pending-session-list" [dragula]='"column"' [dragulaModel]='sessions'
    [attr.data-column-type]="'relative'">
    <li class="session-wrapper" *ngFor="let session of sessions"
      [attr.data-session-id]="session.id">
      <my-session [session]="session" [offsetDate]="offsetDate" [agenda]="agenda"
        (onSessionEdited)="onSessionEdited($event)"
        (onSpeakerEdited)="onSpeakerEdited($event)"
        (onSessionDeleted)="onSessionDeleted($event)">
      </my-session>
    </li>
  </ul>
  <button class="pending-toggle" (click)="toggleState()" style="display:none">
    <i [@iconTrigger]="colState" class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>
