@import '../../../public/css/variables';
.rel-col {
    position: fixed;
    top: $main-content-top-offset;
    background: $color-secondary;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    
    width: 225px;
    bottom: 20px;
    margin-right: 20px;
    
    .session-list {
        padding: 20px 10px 0;
        height: calc(100% - 20px);
        margin: 0;
        position: relative;
        z-index: 1;
        overflow: auto;
        
        li {
            margin-bottom: 10px;
        }
    }
}

button.pending-toggle {
    position: absolute;
    top: 270px;
    left: 200px;
    background-color: $color-primary;
    width: 25px;
    height: 100px;
    border-radius: 100% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-style: none;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
    &:focus {
        outline: none;
    }
    i.fa {
        color: white;
        font-size: 15px;
    }
}

.instructions {
    pointer-events: none;
    position: absolute;
    top: 30px;
    left: 10px;
    right: 10px;
    color: #fff;
    font-size: $size-normal-text;
}