@import '../../../public/css/variables';

h2 {
    color: $color-primary;
}

form md-input {
    width: 300px;
}

.dashboard-container {
    padding-top: $top-bar-height;
    display: flex;
    justify-content: center;
    height: 100%;
}

.dash-board-title {
    background: gray;
}

.success {
    font-size: 14px;
    border: 2px solid green;
    padding: 10px;
    display: inline-block;
    color: green;
    position: absolute;
    top: 50px;
    transform: translateX(-50%) translateX(0px);
}

.sign-up-form {
    margin-top: 100px;
    table {
        margin-bottom: 20px;
    }
}

.user-form {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.log-in-card {
    border-right: 2px solid $color-secondary;
    padding: 0 40px 20px 0;
    
    table md-input {
        margin-bottom: 20px;
    }
}

.dashboard-agendas {
    display: flex;
    margin-top: 50px;
}

.sign-up-card {
    width: 300px;
    margin-left: 20px;
}

.agenda-list-card {
    padding-right: 40px;
    margin-right: 40px;
    border-right: 2px solid $color-secondary;
}

.agenda-list {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
    width: 250px;

    li {
        cursor: pointer;
        position: relative;
        background-color: #EEE;
        padding: 7px 16px 8px;
        margin-bottom: 5px;
        border-radius: 4px;
        
        &:hover {
            color: #607D8B;
            background-color: #DDD;
        }

        &.selected:hover {
            background-color: #BBD8DC;
            color: white;
        }
    }
}

.new-agenda-card {
    form {
        overflow: auto;
    }
    
    md-input {
        margin-bottom: 10px;
    }
    
    .above-tags {
        margin-bottom: 18px;
    }
    
    .field-with-label {
        position: relative;
        max-width: 300px;
        margin-bottom: 20px;
    }
    .field-label {
        left: 1px;
        top: -10px;
        font-size: 12px;
        position: absolute;
        margin: 0;
        color: $color-secondary;
    }
    .other-error {
        overflow-wrap: break-word;
        width: 300px;
    }
}

.fly-in {
    -webkit-animation: flyin 1.5s ease forwards;
    animation: flyin 1.5s ease forwards;
    left: -200px;
    opacity: 0;
}

@keyframes flyin {
   100% {  
       left: 0;
       opacity: 1;
   }
}

@-webkit-keyframes flyin {
   100% {  
       left: 0;
       opacity: 1;
   }
}
