<div class = "success" *ngIf="successMsg">{{successMsg}}</div>
<div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
<div class="sign-up-form" *ngIf = "signingUp">
	<h2>Register</h2>
	<form (ngSubmit)="signUp()">
		<table><td>
		<tr><md-input required placeholder="Email" [(ngModel)]="registerEmail" name="email"> </md-input></tr>
		<tr><md-input required placeholder="Password" type="password" [(ngModel)]="registerPassword" name="password"> </md-input></tr>
		<tr><md-input placeholder="Event Organiser" [(ngModel)]="organiser" name="organiser"> </md-input></tr>
		<tr><md-input placeholder="Event Name" [(ngModel)]="event" name="event"> </md-input></tr>
		</td></table>
		<button class="primary" md-button type="submit" >Register</button>
		<a class="secondary" md-button type="cancel" (click)="toggleSigningUp()">Cancel</a>			
	</form>
</div>
<div class="user-form" *ngIf = "!user.authed && !signingUp">
	<div class="log-in-card">
		<h2>Log In</h2>
		<form >
			<table><td>
			<tr><md-input required placeholder="Email" [(ngModel)]="loginEmail" name="email"> </md-input></tr>
			<tr><md-input required placeholder="Password" type="password" [(ngModel)]="loginPassword" name="password"> </md-input></tr>
			</td></table>
			<button class="primary" md-button (click)="logIn()">Login</button>
			
		</form>
	</div>
	<div class="sign-up-card">
		<p>Or create an account<br> and start building your event agenda</p>
			
		<button class="secondary" md-button (click)="toggleSigningUp()">Register</button>
	</div>
</div>
<div class="dashboard-agendas" *ngIf = "user.authed">
	<h2>All Agenda:</h2>
	<ul class="agenda-list">
	  <li *ngFor="let agenda of agendas | orderBy : 'id'"
	    (click)="onSelect(agenda)">
	    {{agenda.name}}
	  </li>
	</ul>
</div>
