@import '../../../public/css/variables';

.dash-board-title {
    background: gray;
}

.success {
    margin-top: 20px;
    font-size: 14px;
    border: 2px solid green;
    padding: 10px;
    display: inline-block;
    color: green;
    position: absolute;
    top: 50px;
    transform: translateX(-50%) translateX(0px);
}

.error {
    margin-top: 20px;
    font-size: 14px;
    border: 2px solid red;
    padding: 10px;
    display: inline-block;
    color: red;
    position: absolute;
    top: 50px;
    transform: translateX(-50%) translateX(0px);
}
.agenda-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    display: inline-block;
    li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #EEE;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
        &.selected:hover {
            background-color: #BBD8DC !important;
            color: white;
        }
        &:hover {
            color: #607D8B;
            background-color: #DDD;
            left: .1em;
        }
    }
}

.sign-up-form {
    margin-top: 100px;
}



button{
    margin-top: 30px;
    border: 2px solid $color-primary;
    &.primary{
        background-color: $color-primary;
        color: white;
    }
    &.secondary{
        background-color: white;
        color: $color-primary;
    }
}
.user-form {
    margin-top: 150px;
    
}

.log-in-card {
    width: 400px;
    display: inline-block;
    border-right: 2px solid $color-secondary;
}

.dashboard-agendas {
    h2 {
        margin-top: 100px;
    }

}

h2 {
    color: $color-primary;
}
form {
    display: inline-block;
    md-input {
        width: 300px;
    }
}

.sign-up-card {
    width: 300px;
    margin-left: 20px;
    display: inline-block;
}
snack-bar-container {
    background: $color-primary;
}

