<div class = "success" *ngIf="successMsg">{{successMsg}}</div>
<div class="error" *ngIf="errorMsg">{{errorMsg}}</div>
<div class="sign-up-form" *ngIf = "signingUp">
	<h2>Register</h2>
	<form (ngSubmit)="signUp()">
		<table>
		<tr><md-input required placeholder="Email" [(ngModel)]="registerEmail" name="email" autocomplete="new-password"></md-input> </tr>
		<tr><md-input required placeholder="Password" type="password" [(ngModel)]="registerPassword" name="password" autocomplete="new-password"> </md-input></tr>
		<tr><md-input placeholder="Event Organiser" [(ngModel)]="organiser" name="organiser"> </md-input></tr>
		<tr><md-input placeholder="Event Name" [(ngModel)]="event" name="event"> </md-input></tr>
		</table>
		<button class="primary" md-button type="submit" >Register</button>
		<a class="secondary" md-button type="cancel" (click)="toggleSigningUp()">Cancel</a>			
	</form>
</div>
<div class="user-form" *ngIf = "!user.authed && !signingUp">
	<div class="log-in-card">
		<h2>Log In</h2>
		<form >
			<table>
			<tr><md-input required placeholder="Email" [(ngModel)]="loginEmail" name="email"> </md-input></tr>
			<tr><md-input required placeholder="Password" type="password" [(ngModel)]="loginPassword" name="password"> </md-input></tr>
			</table>
			<button class="primary" md-button (click)="logIn()">Login</button>			
		</form>
	</div>
	<div class="sign-up-card">
		<p>Or create an account<br> and start building your event agenda</p>
			
		<button class="secondary" md-button (click)="toggleSigningUp()">Register</button>
	</div>
</div>
<div class="dashboard-agendas" *ngIf = "user.authed">
	<h2>All Events:</h2>
	<ul class="agenda-list">
	  <li *ngFor="let agenda of agendas | orderBy : 'id'"
	    (click)="onSelect(agenda)">
	    {{agenda.name}}
	  </li>
	</ul>
	<p>New Event</p>
	<form [formGroup]="agendaForm" novalidate (ngSubmit)="submitAgendaForm(agendaForm.valid)">
	  	<div class="form-field">
		    Name: <input type="text" formControlName="name" placeholder="Name">
		</div>
		<div class="form-field">
		    Abstract: <input type="text" formControlName="abstract" placeholder="Abstract">
		</div>
		<div class="form-field">
		    Location: <input type="text" formControlName="location" placeholder="Location">
		</div>
		<div class="form-field">
		    Start Date: <input type="date" formControlName="start" placeholder="Start Date">
		</div>
		<div class="form-field">
		    End Date: <input type="date" formControlName="end" placeholder="End Date">
		</div>
		<div class="form-field">
			<tag-input [ngModel]="agendaForm.tracks" [placeholder]="options.placeholder" [secondaryPlaceholder]="options.secondaryPlaceholder" formControlName="tracks"></tag-input>
		</div>
	  <button type="submit">Submit</button>
	</form>
	<div class="success" *ngIf="formMsg">{{formMsg}}</div>
</div>
