@import '../../../public/css/variables';

.timescale {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding-right: 5px;
    padding-top: 60px;
    padding-bottom: 100px;
    left: 0px;
    color: $color-accent;
    font-size: $size-normal-text;
    position: absolute;
    -webkit-transition: left 0.1s; /* Safari */
    transition: left 0.1s;
    //margin-left: 245px;
    .hour {
        margin-bottom: $height-per-15-min * 4 - 19;
    }
}

.timeline {
    margin-top: 8px;
    position: absolute;
    z-index: $timeline-z-index;
    pointer-events: none;
    
    .hour {
        border-top: 2px solid lighten($color-accent, 15%);
        height: $height-per-15-min*4-2;
        width: 200px;
        .quarter {
            border-bottom: 1px dashed lighten($color-accent,15%);
            height: $height-per-15-min - 1;
        }
    }
}

.public .schedule {
    top: $main-content-top-offset + $public-extra-offset;
    height: calc(100% - #{$main-content-top-offset + $public-extra-offset});
    margin-left: 20px;
    width: 97%;
}

.schedule {
	margin-left: 250px;
    position: fixed;
    height: calc(100% - #{$main-content-top-offset});
    width: calc(100% - 250px);
    top: $main-content-top-offset;
    &.analytics {
        // nothing special for now
    }
}

.board {
    position: relative;
}

.scroll {
    margin-left: 50px;
}
.board, .schedule,.row, .scroll{
    display: flex;
}

.day {
    flex-direction: column; 
    flex-shrink: 0;
}


.schedule,.scroll {
    flex: 1;
    overflow: auto;
}

.day-title {
    background: $color-primary;
}

.track-title {
    background: $color-secondary;
}

.day-title, .track-title {
    color: white;
    margin-right: 10px;
    min-width: 200px;
    height: 30px;
    line-height: 30px;
}

.not-dragging .quarter {
    display: none;
}

.not-dragging .hour {
    border-color: #efefef;
}

.fab-add {
	position: fixed;
	height: 56px;
	width: 56px;
    top: $main-content-top-offset - 40px;
    left: 80px;
    color: white;
    background-color: $color-accent;
}

.ng2-dropdown-menu-container {
    z-index: 10000;
}