<div class="board" [class.not-dragging]="!dragging" [class.public]="isPublic" 
  [class.analytics]="isAnalytics">
  <relative-column [sessions]="pendingSessions" [offsetDate]="offsetDate" [agenda]="agenda"
    (onSessionChanged)="onSessionChanged($event)"
    (onSessionDeletedColumn)="onSessionDeletedColumn($event)"
    (onSessionMovedFromPending)="onSessionMovedFromPending($event)"
    (onSessionInterestChanged)="onSessionInterestChanged($event)"
    (onSpeakerChanged)="onSpeakerChanged($event)"
    (onVenueChanged)="onVenueChanged($event)" *ngIf="!isPublic">
  </relative-column>
  <button md-mini-fab class="fab-add" disableRipple (click)="createSessionModal()" *ngIf="!isPublic">
    <md-icon>add</md-icon>
  </button>
  <div class="schedule">
    <div class="scroll-container">
      <div class="timescale position-fixed-x">
        <div class="hour" *ngFor="let hour of hours">
        {{hour}}
        </div>
      </div>
      <div class="scroll">
        <div class="day" *ngFor="let date of eventDates; let dateIndex=index">
          <div class="day-title position-fixed-y" [style.width]="dayTitleWidth">{{date | date}}</div>
          <div class="row">
            <div class="track" *ngFor="let track of eventTracks; let trackIndex=index">
              <div class="track-title position-fixed-y">{{track.name}}</div>
              <absolute-column #absCol [sessions]="getSessionsForColumn(date, track.id)" 
                [day]="date" [track]="track" [colIndex]="dateIndex*eventTracks.length+trackIndex"[offsetDate]="offsetDate" [agenda]="agenda" [isPublic]="isPublic" [isAnalytics]="isAnalytics"
                (onSessionChanged)="onSessionChanged($event)"
                (onSessionDeletedColumn)="onSessionDeletedColumn($event)"
                (onSessionMovedFromPending)="onSessionMovedFromPending($event)"
                (onSessionInterestChanged)="onSessionInterestChanged($event)"
                (onSpeakerChanged)="onSpeakerChanged($event)"
                (onSpeakerAdded2)="onSpeakerAdded($event, false)"
                (onVenueChanged)="onVenueChanged($event)"
                (onVenueAdded2)="onVenueAdded($event, false)"
                (onCreateSessionWithStart)="onCreateSessionWithStart($event)"
                [token]="token" [interestedSessionIds]="interestedSessionIds"
                [analyticsData]="analyticsData">
              </absolute-column>
            </div>  
          </div>
        </div>
      </div>
    </div>     
  </div>
</div>

<template #templateRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="new-session modal-container">
    <div class="page-header">
      <h1>Add New Session</h1>
    </div>
    <h3 *ngIf="addingSessionWithStart">{{getDisplayedTime(sessionStartTime,sessionForm.value.duration)}} </h3>
    <div class="jumbotron">
      <div class="form-msg">
        <small *ngIf="formMsg">{{formMsg}}</small>
      </div>
      <form [formGroup]="sessionForm" novalidate (ngSubmit)="submitSessionForm(dialogRef)">
        <div>
          <md-input type="text" formControlName="name" placeholder="Session Name" required></md-input>
        </div>
        <div>
          <md-input type="text" formControlName="description" placeholder="Description"></md-input>
        </div>
        <div>
          <md-input type="number" min="0" step="15" formControlName="duration" placeholder="Duration (in minutes)"></md-input>
        </div>
        
        <div class="field-with-label">
          <label class="field-label">Venue</label>
          <div class="field-row">
            <tag-input [ngModel]="sessionForm.value.existingVenue" [maxItems]="1"
                       secondaryPlaceholder="Session Venue" 
                       formControlName="existingVenue" 
                       [onlyFromAutocomplete]="true" 
                       [autocompleteItems]="eventVenuesName" 
                       [autocomplete]="true"></tag-input>
            <venue-form [agenda]="agenda" (onVenueAdded)="onVenueAdded($event, true)"></venue-form>
          </div>
        </div>
        
        <div class="field-with-label">
          <label class="field-label">Speakers</label>
          <div class="field-row">
            <tag-input [ngModel]="sessionForm.value.existingSpeakers" 
                       placeholder=" + Speakers" 
                       secondaryPlaceholder="Select Speakers" 
                       formControlName="existingSpeakers" 
                       [onlyFromAutocomplete]="true" 
                       [autocompleteItems]="eventSpeakersName" 
                       [autocomplete]="true"></tag-input>
            <speaker-form [agenda]="agenda" (onSpeakerAdded)="onSpeakerAdded($event, true)"></speaker-form>
          </div>
        </div>

        <div class="field-with-label">
          <label class="field-label">Tags</label>
          <tag-input [ngModel]="sessionForm.value.tags" 
                     placeholder=" + Tags" 
                     secondaryPlaceholder="Add Tags" 
                     formControlName="tags" 
                     [autocompleteItems]="eventTagsName" 
                     [autocomplete]="true"></tag-input>
        </div>
        
        <div class="footer-buttons clearfix">
          <button class="primary" md-button type="submit">Save</button>
          <button class="primary" md-button type="submit" (click)="submitAndContinueSessionForm($event)">Save and Add Another</button>
          <button class="secondary" md-button type="button" (click)="dialogRef.close(true)">Close</button>
        </div>
      </form>
    </div>
  </div>
</template>
