@import '../../../public/css/variables';

.timescale {
    z-index: 10;
    background-color: rgba(#fff, 0.8);
    left: 0;
    color: $color-accent;
    font-size: $size-normal-text;
    line-height: 1.5;
    
    padding: 60px 5px 180px 0;
    position: absolute;

    @media (min-width: 960px) {
        // transition: left 0.1s; 
    }
       
    //margin-left: 245px;
    .hour {
        height: $height-per-15-min * 4;
    }
}

.timeline {
    margin-top: 8px;
    position: absolute;
    z-index: $timeline-z-index;
    pointer-events: none;
    
    .hour {
        border-top: 2px solid lighten($color-accent, 15%);
        height: $height-per-15-min*4-2;
        width: 200px;
        
        .quarter {
            border-bottom: 1px dashed lighten($color-accent,15%);
            height: $height-per-15-min - 1;
        }
    }
}

.schedule {
    top: $main-content-top-offset;
    left: 250px;
    right: 0;
    bottom: 0;
    position: fixed;
}

.public .schedule, .analytics .schedule {
    left: 0;
}

.public .schedule {
    top: $top-bar-height;
    
    @media (max-width: 960px) {
        bottom: $bottom-bar-height;
    }
}

.analytics .schedule {
    top: $main-content-top-offset + $analytics-extra-offset;
}

.board {
    position: relative;
}

.scroll {
    margin-left: 50px;
    padding-top: 60px;
}

.board, .schedule,.row, .scroll{
    display: flex;
}

.scrolling {
    opacity: 0;
}

.track-title, .timescale, .day-title {
    // transition: .1s all;
}

.day {
    flex-direction: column; 
    flex-shrink: 0;
}


.schedule,.scroll {
    flex: 1;
    overflow: auto;
}

.day-title {
    background: $color-primary;
}

.track-title {
    margin-top: 30px;
    background: $color-secondary;
}

.day-title, .track-title {
    position: absolute;
    color: white;
    margin-right: 10px;
    min-width: 200px;
    height: 30px;
    line-height: 30px;
    z-index: 15;
    top: 0;
}

.not-dragging .quarter {
    display: none;
}

.not-dragging .hour {
    border-color: #efefef;
}

.fab-add {
    position: fixed;
    height: 56px;
    width: 56px;
    top: $main-content-top-offset - 40px;
    left: 80px;
    color: white;
    background-color: $color-accent;
}

.new-session.modal-container {
    width: 500px;
    padding: 20px;
    
    h1 {
        margin: 0;
    }
    
    md-input, 
    .field-with-label {
        width: 100%;
    }
    
    .field-row {
        display: flex;
        align-items: flex-start;
        
        tag-input {
            flex: 1 auto;
            margin-right: 20px;
        }
        
        button {
            flex: 0 0 auto;
        }

        ng-select {
            flex: 1 auto;
            margin-top: 9px;
            margin-right: 20px;
        }
    }

    .subform {
        width: 60%;
        margin-left: 30px;

        .subform-header {
            margin-top: 16px;
            margin-bottom: 8px;
        }

        .delete {
            float: right;
        }
    }
}
