<div class="board">
  <relative-column [sessions]="pendingSessions">
  </relative-column>
  <div class="scroll">
  <div class="day" *ngFor="let date of eventDates">
    <div class="day-title">{{date | date}}</div>
    <div class="row">
      <div class="track" *ngFor="let track of eventTracks">
        <div class="track-title">{{track.name}}</div>
        <absolute-column [sessions]="getSessionsForColumn(date, track.id)" [day]="date" [track]="track">
        </absolute-column>
      </div>  
    </div>
  </div>
  </div>
</div>
