@import '../../../public/css/variables';

.timescale {
    margin-top: 60px;
    color: $color-accent;
    font-size: $size-normal-text;
    position: absolute;
    //margin-left: 245px;
    .hour {
        margin-bottom: 41px;
    }
}

.timeline {
    margin-top: 68px;
    position: absolute;
    z-index: $timeline-z-index;
    pointer-events: none;
    .hour {
        border-top: 2px solid $color-accent;
        height: $height-per-15-min*4-2;
        width: 77.7vw; //994.55
        .quarter {
            border-bottom: 1px dashed $color-accent;
            height: $height-per-15-min - 1;
        }
    }
}

.board,.schedule {
    position: relative;
}

.scroll {
    margin-left: 40px;
}
.board, .schedule,.row, .scroll{
    display: flex;
}

.day {
    flex-direction: column; 
    flex-shrink: 0;
}

.schedule,.scroll {
    flex: 1;
    overflow-x: scroll;
}

.day-title {
    background: $color-primary;
}

.track-title {
    background: $color-secondary;
}

.day-title, .track-title {
    color: white;
    margin-right: 10px;
    min-width: 200px;
    height: 30px;
    line-height: 30px;
}

.fab-add {
    top: 10px;
    left: -40px;
    color: white;
    background-color: $color-accent;
}

.ng2-dropdown-menu-container {
    z-index: 10000;
}