<div class="board" [class.not-dragging]="!dragging" [class.public]="isPublic">
  <relative-column [sessions]="pendingSessions" [offsetDate]="offsetDate" [agenda]="agenda" *ngIf="!isPublic">
  </relative-column>
  <button md-mini-fab class="fab-add" disableRipple (click)="createSessionModal()" *ngIf="!isPublic">
    <md-icon>add</md-icon>
  </button>
  <div class="schedule" [class.analytics]="isAnalytics">
    <div class="scroll-container">
      <div class="timescale position-fixed-x">
        <div class="hour" *ngFor="let hour of hours">
        {{hour}}
        </div>
      </div>
      <div class="scroll">
        <div class="day" *ngFor="let date of eventDates">
          <div class="day-title position-fixed-y" [style.width]="dayTitleWidth">{{date | date}}</div>
          <div class="row">
            <div class="track" *ngFor="let track of eventTracks">
              <div class="track-title position-fixed-y">{{track.name}}</div>
              <absolute-column [sessions]="getSessionsForColumn(date, track.id)" 
                [day]="date" [track]="track" [offsetDate]="offsetDate" [agenda]="agenda" [isPublic]="isPublic"
                (onSessionChanged)="onSessionChanged($event)"
                (onSessionMovedFromPending)="onSessionMovedFromPending($event)"
                (onSessionInterestChanged)="onSessionInterestChanged($event)"
                [token]="token" [interestedSessionIds]="interestedSessionIds">
              </absolute-column>
            </div>  
          </div>
        </div>
      </div>
    </div>     
  </div>
</div>
<template #templateRef let-dialogRef="dialogRef" let-ctx="dialogRef.context">
  <div class="modal-container">
    <div class="page-header">
      <h1>Add New Session</h1>
    </div>
    <div class="jumbotron">
      <div class="form-msg">
        <small *ngIf="formMsg">{{formMsg}}</small>
      </div>
      <form [formGroup]="sessionForm" novalidate (ngSubmit)="submitSessionForm(dialogRef)">
        <table>
          <tr>
            <md-input type="text" formControlName="name" placeholder="Session Name" required></md-input>
          </tr>
          <tr>
            <md-input type="text" formControlName="description" placeholder="Description"></md-input>
          </tr>
          <tr>
            <md-input type="number" formControlName="duration" placeholder="Duration (in minutes)"></md-input>
          </tr>
          <tr>Tags</tr>
          <tr>
            <tag-input [ngModel]="sessionForm.tags" [placeholder]="options.placeholderTags" [secondaryPlaceholder]="options.secondaryPlaceholderTags" formControlName="tags" [autocompleteItems]="eventTagsName" [autocomplete]="true" (onSelect)="onSelected()"></tag-input>
          </tr>
          <tr>Speakers</tr>
          <tr>
            <tag-input [ngModel]="sessionForm.existingSpeakers" [placeholder]="options.placeholderSpeakers" [secondaryPlaceholder]="options.secondaryPlaceholderSpeakers" formControlName="existingSpeakers" [onlyFromAutocomplete]="true" [autocompleteItems]="eventSpeakersName" [autocomplete]="true" (onSelect)="onSelected()"></tag-input>
          </tr>
        </table>
        <div formArrayName="newSpeakers">
          <div *ngFor="let speaker of sessionForm.controls.newSpeakers.controls; let i=index ">
            <table>
              <tr>
                <button type="button" md-mini-fab disableRipple *ngIf="sessionForm.controls.newSpeakers.controls.length > 0" (click)="removeSpeaker(i)">
                  <md-icon>remove</md-icon>
                </button>
                New Speaker {{i + 1}}
              </tr>
              <div [formGroupName]="i">
                <tr>
                  <md-input type="text" formControlName="name" placeholder="Name"></md-input>
                  <small [hidden]="sessionForm.controls.newSpeakers.controls[i].controls.name.valid">
                  Name is required
                </small>
                </tr>
                <tr>
                  <md-input type="text" formControlName="company" placeholder="Company"></md-input>
                  <small [hidden]="sessionForm.controls.newSpeakers.controls[i].controls.company.valid">
                  Company is required
                </small>
                </tr>
                <tr>
                  <md-input type="text" formControlName="position" placeholder="Position"></md-input>
                  <small [hidden]="sessionForm.controls.newSpeakers.controls[i].controls.position.valid">
                  Position is required
                </small>
                </tr>
                <tr>
                  <md-input type="email" formControlName="email" placeholder="Email"></md-input>
                  <small [hidden]="sessionForm.controls.newSpeakers.controls[i].controls.email.valid">
                  Email is required
                </small>
                </tr>
                <tr>
                  <md-input type="text" formControlName="phone_number" placeholder="Phone number"></md-input>
                </tr>
                <tr>
                  <md-input type="text" formControlName="company_description" placeholder="Company description"></md-input>
                </tr>
                <tr>
                  <md-input type="url" formControlName="company_url" placeholder="Company website"></md-input>
                </tr>
              </div>
            </table>
          </div>
        </div>
        <div>
          <button type="button" md-mini-fab disableRipple (click)="addSpeaker()">
            <md-icon>add</md-icon>
          </button>
          Add a New Speaker
        </div>
        
        <button class="primary" md-button type="submit">Save</button>
        <button class="primary" md-button type="submit" (click)="submitAndContinueSessionForm($event)">Save and Add Another</button>
        <button class="secondary" md-button type="button" (click)="dialogRef.close(true)">Close</button>
      </form>
    </div>
  </div>
</template>
