@import '../../../public/css/variables';

.abs-col {
    background-color: rgba(242,242,242,0.5);
    overflow: hidden;
    height: 1300px;
    width: 200px;
    margin-right: 10px;
    .session-container-list {
        padding-top: 10px;
        margin-top: 0px;
        min-height: 100px;
    }
}

.placeholder { 
    pointer-events: none;
}

.session-container {
    box-sizing: border-box;
    margin: 0 10px;
    height: $height-per-15-min;
    cursor: pointer;
    .session-list {
        height: 100%;
    }
}