<div class="abs-col">
  <ul class="session-container-list">
    <li class="session-container"
      *ngFor="let container of containers"
      [class.empty-container]="container.sessions.length === 0">
      <ul class="session-list"
        [dragula]='"column"' [dragulaModel]='container.sessions'
        [attr.data-column-type]="'absolute'"
        [attr.data-date]="day.toISOString()"
        [attr.data-track-id]="track.id"
        [attr.data-container-start-at]="container.start_at"
        [attr.data-container-global-start-at]="getGlobalStartTimeFromDisplayedStartTime(container.start_at)">
        <li class="session-wrapper"
          *ngFor="let session of container.sessions"
          [attr.data-session-id]="session.id"
          [attr.data-session-placeholder]="session.placeholder"
          [attr.data-session-start]="session.start?session.start.toISOString():''"
          [attr.data-session-duration]="session.duration"
          [class.placeholder]="session.placeholder">
          <my-session [session]="session" [offsetDate]="offsetDate" [agenda]="agenda"></my-session>
        </li>
      </ul>
      
    </li>
  </ul>
</div>
